In [1]:
# 1.ans :-

In [2]:
marks = int(input("Enter your marks"))
if marks > 90 :
    print("your Grade is : A ")
elif marks > 80 and marks <= 90 :
     print("your Grade is : B ")
elif marks >= 60 and marks <= 80 :
     print("your Grade is : C ")
elif marks < 60 :
     print("your Grade is : D ")

Enter your marks 91

your Grade is : A

In [3]:
# 2.ans :-

In [5]:
cost = int(input("enter your bike cost "))
if cost > 100000 :
    print("your tax on bike : 15 ")
    total_cost = (cost * 15)/100 + cost
    print("your total bike cost = ",total_cost)
elif cost > 50000 and cost <= 100000 :
    print("your tax on bike : 10 ")
    total_cost = (cost * 10)/100 + cost
    print("your total bike cost = ", total_cost)
elif cost <= 50000 :
    print("your tax on bike : 5 ")
    total_cost = (cost * 5)/100 + cost
    print("your total bike cost = ",total_cost)

enter your bike cost  1000000

your tax on bike : 15
your total bike cost =  1150000.0

In [2]:
# 3.ans:-

In [4]:
city = input("Enter city name of these :-  Delhi ,Agra ,Jaipur -")
if city == "DELHI" or city =="delhi" or city == "Delhi" :
    print("Red Ford")
elif city == "AGRA" or city == "agra" or city == "Agra" :
    print("taj Mahal")
elif city == "JAIPUR" or city == "jaipur"or city == "Jaipur" :
    print("Jai Mahal")
else :
    print("Try Again")

Enter city name of these :-  Delhi ,Agra ,Jaipur - delhi

Red Ford

In [6]:
# 4.ans :-

In [1]:
number = int(input("Enter a number"))
count = 0 
while number > 10 :
    number = number / 3
    count += 1
print(count)

Enter a number 1080

5

In [8]:
# 5.ans :-

In [2]:
"""while loop is used to repeatedly ececute a block of 
code as long as the condition specified in the while statement 
is true.
syntax :-
while condetion :
  # code to be eexcuted """

'while loop is used to repeatedly ececute a block of \ncode as long as the condition specified in the while statement \nis true.\nsyntax :-\nwhile condetion :\n  # code to be eexcuted '

In [3]:
## Example :
a = 10 
while a > 0 :
    print("Durgesh Singh")
    a -= 1

Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh
Durgesh Singh

In [4]:
# 6 ans :-

In [5]:
# pattern 1:
i = 0 
j = 0 
while i < 10:
    while j < 10 :
        print(i,j)
        i += 1
        j += 1

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [6]:
# pattern 2
i = 1 
while i <= 5 :
    j =  1 
    while j <= i :
        print(" * ", end = " ")
        j +=1
    print("")
    i += 1

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [7]:
# pattern 3 :
i = 1
while i<= 2 :
    j = 1
    while j <= 10 :
        result = i * j 
        print(i ," * " , j, " = ", result ,)
        j += 1
    print("")
    i += 1

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
1  *  10  =  10

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [8]:
# 7 and 8 ans :-

In [9]:
#reverse number from 10 to 1 :
n = 10 
while n > 0 :
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1